* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

.main-container {
  width: 80%;
  max-width: 900px;
  height: 500px;
  display: flex;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  background-color: #45246e51;
  backdrop-filter: blur(10px);
}

.form-container {
  width: 50%;
  padding: 40px;
  /* background-color: white; */
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-container h2 {
  margin-bottom: 20px;
  color: #010101;
}

.form-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container button {
  width: 100%;
  padding: 10px;
  background-color: #3700ff;
  border: none;
  color: white;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.form-container .forgot-signup {
  margin-top: 15px;
  font-size: 14px;
}

.form-container a {
  color: #25118c;
  text-decoration: none;
}

.form-container a:hover {
  text-decoration: underline;
}

.image-container {
  width: 50%;
  background-image: url("./images/login-page-bg.jpg");
  background-size: cover;
  background-position: center;
}
.forgot-link {
  text-align: right;
  margin: 5px 0 15px;
}

.signup-text {
  margin-top: 15px;
  font-size: 14px;
}
.or-separator {
  display: flex;
  align-items: center;
  margin: 20px 0 10px;
}

.or-separator::before,
.or-separator::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #ccc;
}

.or-separator span {
  margin: 0 10px;
  font-size: 14px;
  color: #666;
}

.signup-text {
  text-align: center;
  font-size: 14px;
}

/* For mobile view */
@media (max-width: 768px) {
  html,
  body {
    overflow: hidden;
  }

  body {
    display: block;
  }

  .main-container {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url("./images/login-page-bg.jpg");
    background-size: cover;
    background-position: center;
  }

  .image-container {
    display: none;
  }

  .form-container {
    width: 90%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    color: white;
  }

  .form-container input,
  .form-container button {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    border: none;
  }

  .form-container h2 {
    color: white;
  }

  .form-container a {
    color: #ffdd57;
  }

  .or-separator span {
    color: white;
  }

  .signup-text {
    color: white;
  }

  .signup-text a {
    color: #ffdd57;
  }
}
